<div class="outer">
  <nav class="navbar">
    <div class="icons">
      <i (click)="return()" class="fa fa-arrow-left icon" aria-hidden="true"></i>
    </div>
  </nav>
  <div class="container">
    <div>
      <button *ngIf="nameIdentidier == 1" (click)="getAdminChat()">Get Admin Chat</button>
      <button *ngIf="nameIdentidier != 1" (click)="registerToQueue()">Chat</button>
    </div>
    <div class="chat">
      <div class="chat-messages">
        <h2>Chat Messages:</h2>
        <div *ngIf="messages.length > 0">
          <ul>
            <li *ngFor="let message of messages; let i = index" [ngClass]="{ 'right-align': senderId[i] == nameIdentidier, 'left-align': senderId[i] != nameIdentidier }">
              {{ message }}
            </li>
          </ul>
        </div>
        <input type="text" [(ngModel)]="currentMessage" placeholder="Enter message" />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>