.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chat {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .chat-messages {
    height: 300px;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message-text {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .navbar {
    background-color: #82828a 90%;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 2.2rem;
    margin-right: 20px;
  }
  
  .navbar .icons {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  .navbar .icon {
    color: #fcfcfc;
    font-size: 2.8rem;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .message-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .message-content {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .message-content.right {
    background-color: #698be9;
    color: #fff;
  }
  
  .message-sender {
    margin-left: 10px;
    font-size: 12px;
    color: #888;
  }
  
  .right-align {
    background-color: #899bcc;
  }
  
  .left-align {
    text-align: left;
  }

  .message-right {
    text-align: right;
    /* Dodaj inne style dotyczące wiadomości po prawej stronie */
  }

  .chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .chat-input input[type="text"] {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #698be9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #576dbf;
  }
  
  .chat-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .chat-buttons button {
    margin: 0 5px;
    padding: 5px 20px; /* Zwiększono padding, aby przycisk był dłuższy */
    font-size: 16px;
    background-color: #698be9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200%; /* Ustawiono szerokość na 200% dla dwukrotnie większego przycisku */
  }
  
  .chat-buttons button:hover {
    background-color: #576dbf;
  }