<div class="outer">
  <nav class="navbar">
    <div class="icons">
      <h4>Hello, {{ nameIdentidier }}</h4>
      <i (click)="return()" class="fa fa-arrow-left icon" aria-hidden="true"></i>
    </div>
  </nav>
  <div class="container">
    <div>
      <button *ngIf="nameIdentidier === 1" (click)="getAdminChat()">Get Admin Chat</button>
    </div>
    <div class="chat">
      <div class="chat-messages">
        <div *ngIf="messages.length > 0">
          <h2>Chat Messages:</h2>
          <ul>
            <li *ngFor="let message of messages">{{ message }}</li>
          </ul>
        </div>
        <input type="text" [(ngModel)]="currentMessage" placeholder="Enter message" />
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>